[Unit]
Description=qBittorrent-nox service
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service] 
Type=exec
User={{ qbittorrent_nox_user_name }}
ExecStart=/home/{{ qbittorrent_nox_user_name }}/bin/qbittorrent-nox

[Install]
WantedBy=multi-user.target
